<section class="section">
<div class="container">
  <div class="columns" style="display:flex;">
    <div class="column" style="align-self: flex-start">
      <h2 class="is-size-2 has-text-weight-bold">
        Create Events
      </h2>
      <%= render 'events/form' %>
    </div>
    <div class="column">
      <h2 class="is-size-2 has-text-weight-bold">
        Organized Events
      </h2>
      <%= render 'events/events', events:@user.created_events %>

      <h2 class="is-size-2 has-text-weight-bold">
        Invited Events
      </h2>
      <%= render 'events/events', events:@user.invited_events %>
    </div>
  </div>
</div>


</section>


