<div class="column is-half has-background-danger">
  <nav class="panel">
    <p class="panel-heading">
        Profile
    </p>
    <div class="panel-block">
      <div class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/64x64.png">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong><%= current_user.name %></strong>
              <small><%= current_user.username %></small>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-block">
      <% current_user.invited_events.each do |event| %>
        <div>
          <%= link_to event.name, event %>
        </div>
      <% end %>
    </div>
  </nav>
</div>



