<section class="section">
  <div class="container">
    <h2 class="is-size-2 has-text-weight-bold">
      Upcoming Events
    </h2>
    <%= render 'events', events:@upcoming %>
    <h2 class="is-size-2 has-text-weight-bold">
      Past Events
    </h2>
    <%= render 'events', events:@past %>
  </div>
</section>

